.jiraPriority
{
    text-align : center;
}
.jiraPriority img
{
    height: 16px;
    width: 16px;    
}
.jiraBorad
{
    width: 100%;
    border: black solid 1px;    
}
.jiraBoradHeader
{
    font-weight: bold;
    border: dimgrey solid 1px;  
}
.wordwrap {
    white-space: pre-line !important;
    word-wrap: break-word;
}
input[type='text'], select
{
    font-family: 'Work Sans',Arial,sans-serif;
    font-size: 1em;
}
